$colors: (
  primary: (
    100: #214895,
    150: #241a74,
  ),
  purple: (
    100: #640fb9,
  ),
  accent: (
    100: #efed6d,
  ),
  white: (
    100: #fff,
  ),
  blue: (
    200: #151147,
  ),
);
