---
import { getCollection } from "astro:content";
import Networks from "./Networks.astro";
import SectionContainer from "./SectionContainer.astro";

const { lang } = Astro.params;
const locales = await getCollection("locales");
---

<style lang="scss">
  .languages {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    a {
      color: var(--color-white-100);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: var(--color-accent-100);
      }
    }
  }
</style>

<footer>
  <SectionContainer
    style={{
      display: "flex",
      flexDirection: "column",
      gap: "1rem",
      justifyContent: "center",
      alignItems: "center",
      minHeight: 200,
    }}
  >
    <div class="languages">
      {
        locales.map(({ data: locale }) => (
          <a
            href={`/${locale.code}`}
            style={{
              fontWeight: locale.code === lang ? "bold" : "normal",
              color:
                locale.code === lang
                  ? "var(--color-accent-100)"
                  : "var(--color-white-100)",
            }}
          >
            {locale.name}
          </a>
        ))
      }
    </div>
  </SectionContainer>
</footer>
