---
---

<style lang="scss">
  .gradiant {
    background: var(--color-accent-100);
    background: linear-gradient(
      -5deg,
      var(--color-white-100) 20%,
      var(--color-accent-100) 70%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
</style>
<span class="gradiant">
  <slot />
</span>
