---
import { Image } from "astro:assets";
import { useStrapiMedias } from "../hooks/strapi-medias";
import type { Network } from "../interfaces/resume";

interface Props {
  networks: Network[];
}

const { networks } = Astro.props;

const media = useStrapiMedias();
---

<style lang="scss">
  .networks {
    display: flex;
    gap: 1.5rem;
    .icon {
      width: 30px;
      height: 30px;
      color: var(--color-white-100) !important;
      img {
        // #ffffff
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
          brightness(103%) contrast(103%);
      }
      &:hover img {
        // #efed6d
        filter: invert(83%) sepia(92%) saturate(280%) hue-rotate(358deg)
          brightness(96%) contrast(95%);
      }
      .label {
        position: absolute;
        opacity: 0;
      }
    }
  }
</style>
<div class="networks">
  {
    networks?.map(({ label, icon, url }) => (
      <a
        href={url}
        class="icon github"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="label">{label}</span>
        <Image
          src={media(icon.url)}
          format="svg"
          alt={`${label}-icon`}
          width="30"
          height="30"
        />
      </a>
    ))
  }
</div>
