---
import type { Project } from "../interfaces/project";
import SectionContainer from "./SectionContainer.astro";
import Timeline from "./Timeline.astro";
import TimelineTile from "./TimelineTile.astro";
import ProjectCard from "./ProjectCard.astro";
import { useTranslations, type Lang } from "../hooks/translations";
import fetchApi from "../lib/strapi";

const lang: Lang = (Astro.params.lang as Lang) ?? "en";

const t = useTranslations(lang);

const projects = await fetchApi<Project[]>({
  endpoint: "projects",
  wrappedByKey: "data",
  query: {
    populate: "*",
    sort: "date:desc",
    locale: lang,
  },
});
---

<style lang="scss">
  .title {
    color: var(--color-white-100);
    margin-bottom: 4rem;
  }
</style>

<SectionContainer maxWidth={1100}>
  <h2 class="title title-font">{t("projects.title")}</h2>
  <Timeline>
    {
      projects?.map((project) => (
        <TimelineTile slot="timeline-tile">
          <ProjectCard project={project} />
        </TimelineTile>
      ))
    }
  </Timeline>
</SectionContainer>
