---
import Chip from "./Chip.astro";
import ChipContainer from "./ChipContainer.astro";
import SectionContainer from "./SectionContainer.astro";
import GradiantText from "./GradiantText.astro";
import Networks from "./Networks.astro";
import type { Resume } from "../interfaces/resume";
import { useTranslations, type Lang } from "../hooks/translations";

import fetchApi from "../lib/strapi";
import resumeFile from "/files/resume.pdf";

const lang: Lang = (Astro.params.lang as Lang) ?? "en";

const t = useTranslations(lang);

const resume = await fetchApi<Resume>({
  endpoint: "resume",
  wrappedByKey: "data",
  query: {
    populate: ["skills", "networks.icon", "resume"],
    locale: lang,
  },
});
---

<style lang="scss">
  @use "../styles/abstracts/mixins" as *;

  .title,
  .subtitle {
    color: var(--color-white-100);
    text-align: center;
  }
  .title {
    font-size: 6rem;
    margin-bottom: 4rem;
  }

  .resume {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    color: var(--color-white-100);

    @include bp(md) {
      grid-template-columns: 3fr 1.5fr;
    }

    .title-font {
      margin-bottom: 1rem;
    }

    &__bio {
      width: 100%;
      &__content {
        & > p + p {
          margin-top: 1rem;
        }
        p {
          font-size: 1.5rem;
          line-height: 1.7rem;
        }
        margin-bottom: 2rem;

        &__resume > * {
          color: var(--color-white-100);
        }
        &__resume a {
          text-decoration: underline;
          transition: color cubic-bezier(0.5, 0, 0, 1) 400ms;
          &:hover {
            color: var(--color-accent-100);
          }
        }
      }
    }
    &__abilities {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      &__stack {
        h3 {
          white-space: nowrap;
        }
      }
      &__tools {
      }
    }
  }
</style>
<SectionContainer maxWidth={1100}>
  <h2 class="title title-font">
    <GradiantText>{t("title")}</GradiantText>
    👋
  </h2>
  <div class="resume">
    <section class="resume__bio">
      <h3 class="title-font">{t("bio.title")}</h3>
      <div class="resume__bio__content">
        <p>
          {resume?.bio}
        </p>
        <p class="resume__bio__content__resume">
          {t("resume.download.see")}
          <a href={resumeFile} target="_blank" rel="noopener noreferrer">
            {t("resume.download.resume")}
          </a>
        </p>
      </div>
      <h4 class="title-font">{t("contact.title")}</h4>
      <Networks networks={resume?.networks} />
    </section>
    <div class="resume__abilities">
      <section class="resume__abilities__stack">
        <h3 class="title-font">{t("skills.title")}</h3>
        <ChipContainer>
          {
            resume?.skills?.map(({ label, color }) => (
              <Chip color={color}>{label}</Chip>
            ))
          }
        </ChipContainer>
      </section>
    </div>
  </div>
</SectionContainer>
