---
export interface Props {
  maxWidth?: number;
  style?: object;
}

const { maxWidth = 1800, style } = Astro.props;
---

<style lang="scss">
  .container {
    margin: 0 auto;
    padding: 1rem;
  }
  .container + .container {
    margin-top: 5rem;
  }
</style>

<section
  class={`container`}
  style={{
    maxWidth: `${maxWidth}px`,
    ...style,
  }}
>
  <slot />
</section>
