---

---

<style lang="scss">
  .timeline {
    position: relative;
    .timeline-line {
      z-index: 0;
      background-color: var(--color-white-100);
      height: 100%;
      width: 2px;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }
  }
</style>

<div class="timeline">
  <span class="timeline-line"></span>
  <ul class="timeline-list">
    <slot name="timeline-tile" />
  </ul>
</div>
