---
import { getImage, Image } from "astro:assets";
import wave1 from "../assets/images/wave-layer-1.webp";
import wave2 from "../assets/images/wave-layer-2.webp";
import wave3 from "../assets/images/wave-layer-3.webp";
import whale from "../assets/images/whale.webp";

const waveLayer1 = await getImage({
  src: wave1,
  width: 200,
  height: 150,
  format: "avif",
  quality: "mid",
});
const waveLayer2 = await getImage({
  src: wave2,
  width: 230,
  height: 100,
  format: "avif",
  quality: "mid",
});
const waveLayer3 = await getImage({
  src: wave3,
  width: 115,
  height: 90,
  format: "avif",
  quality: "mid",
});

const whaleImage = await getImage({
  src: whale,
  width: 336,
  height: 150,
  format: "avif",
  quality: "mid",
});
---

<style lang="scss">
  @use "../styles/abstracts/mixins" as *;
  @use "../styles/abstracts/annimations" as *;
  .container {
    position: relative;
    width: 100%;
    background-color: var(--color-primary-150);
    height: 100px;
  }
  .scene {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 250px;
    transform: translateY(-100%);
    &__layer {
      position: relative;
      height: 100%;
      width: 100%;
      position: absolute;
      &__wave {
        position: absolute;
        width: 200%;

        bottom: -20px;
        left: -50%;
        &--front {
          height: 90px;
          background: var(--color-primary-150);
          background-size: contain;
          animation: wave 4s 0.2s infinite linear;
          opacity: 0.9;
        }
        &--middle {
          height: 100px;
          background: var(--color-primary-150);
          background-size: contain;
          animation: wave 8s 0.1s infinite linear;
          opacity: 0.85;
        }
        &--back {
          height: 150px;
          background: var(--color-primary-150);
          background-size: contain;
          animation: wave 6s 0.1s infinite linear;
          opacity: 0.8;
        }
      }
      &__boat {
        position: absolute;
        bottom: 10px;
        height: 100px;
        object-fit: contain;
        left: calc(100% - 100px);
        animation: wave 8s 0s infinite linear;
        @include bp(md) {
          left: calc(50% - 100px);
        }
      }
    }
  }
</style>

<div class="container">
  <ul id="scene" class="scene">
    <li data-depth="0.7" class="scene__layer">
      <div
        class="scene__layer__wave scene__layer__wave--back"
        style=`background: url(${waveLayer1.src}) repeat-x;`
      >
      </div>
    </li>
    <li class="scene__layer">
      <Image
        class="scene__layer__boat"
        src=`${whaleImage.src}`
        width={whaleImage.attributes.width}
        height={whaleImage.attributes.height}
        alt="boat"
      />
    </li>
    <li data-depth="0.5" class="scene__layer">
      <div
        class="scene__layer__wave scene__layer__wave--middle"
        style=`background: url(${waveLayer2.src}) repeat-x;`
      >
      </div>
    </li>
    <li data-depth="0.3" class="scene__layer">
      <div
        class="scene__layer__wave scene__layer__wave--front"
        style=`background: url(${waveLayer3.src}) repeat-x;`
      >
      </div>
    </li>
  </ul>
</div>
