---
import fetchApi from "../../lib/strapi";
import Footer from "../../components/Footer.astro";
import Jumbotron from "../../components/Jumbotron.astro";
import Projects from "../../components/Projects.astro";
import Resume from "../../components/Resume.astro";
import Page from "../../layouts/Page.astro";
import { getCollection } from "astro:content";

export const getStaticPaths = async () => {
  const localeCollection = await getCollection("locales");
  return localeCollection?.map((local) => ({
    params: { lang: local.data.code },
  }));
};
---

<Page>
  <main>
    <Jumbotron />
    <Resume />
    <Projects />
    <Footer />
  </main>
</Page>
