---
import BaseHead from "../components/BaseHead.astro";
import type { Lang } from "../hooks/translations";
import { SITE_DESCRIPTION, SITE_TITLE } from "../utils/config";

export interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image = "https://res.cloudinary.com/malo-polese/image/upload/v1696781143/portfolio/malo-polese_ictfqm.avif",
} = Astro.props;

const lang: Lang = (Astro.params.lang as Lang) ?? "en";
---

<!doctype html>
<html lang={lang}>
  <style lang="scss">
    body {
      background-color: var(--color-primary-150);
    }
  </style>

  <BaseHead title={title} description={description} image={image} />

  <body>
    <slot />
  </body>
</html>
